subject = "Thank you for contacting us!"
==
Thank you for contacting us! We have received your request and are working on responding to you as soon as possible.
If you have any additional information to add to this case, please reply to this email.
Thanks in advance for your patience and support.
==
<p>Thank you for contacting us! We have received your request and are working on responding to you as soon as possible.</p>
<p>If you have any additional information to add to this case, please reply to this email.</p>
<p>Thanks in advance for your patience and support.</p>