.files-container ul              { padding:0; list-style:none; }

.record-table    { width:100%; border-collapse:collapse; box-shadow:5px 5px 10px #AAA; }
.record-table td { padding:10px; border:solid 1px #D4D8DA; }
.record-label    { width:20%; background-color:#ECF0F1; text-align:right; }
.record-value    { width:80%; background-color:#F9F9F9; }
.record-value ul { margin:0; }
.record-metadata { font-size:0.8em; color:#888; font-weight:bold; }