<button type="button"
        class="btn btn-<?php echo $type ?> <?php echo $icon ?>"
    <?php if (!empty($needs_selected)): ?>
        disabled="disabled"
    <?php endif ?>
        data-request="<?php echo $request ?>"
        data-request-confirm="<?php echo $request_confirm; ?>"
        data-request-success="<?php echo $request_success; ?>"
    <?php if (!empty($onclick)) : ?>
        onclick="<?php echo $onclick; ?>"
    <?php endif ?>
    <?php if (!empty($needs_selected)) : ?>
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
    <?php endif ?>
        data-stripe-load-indicator>
    <?php echo $label; ?>
</button>